

@model KitchenApp.ViewsModel.LoginModel
@{
    ViewData["Title"] = "Authorization";
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <title>Authorization</title>
</head>
<body>
    <div id="login">
   
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form method="post" id="login-form" class="form" asp-action="Login" asp-controller="Account">
                            <div class="validation" asp-validation-summary="ModelOnly" />
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label class="text-info" asp-for="Login">Login</label>
                                <input type="text" asp-for="Login" class="form-control">
                                <span  class="text-danger" asp-validation-for="Login" ></span>
                            </div>
                            <div class="form-group">
                                <label class="text-info" asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <label class="text-danger">@Html.DisplayFor(Model=>Model.LoginError)</label>
                            <div class="form-group">
                                <input type="submit" class="btn btn-info btn-md" value="SignIn">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    
</body>

</html>

