@model KitchenApp.ViewsModel.MenuModel
@{
    ViewData["Title"] = "CreateMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form method="post" id="login-form" class="form" asp-action="CreateNewMenu" asp-controller="Admin">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <h3 class="text-center text-info">Create New Menu</h3>
    <div class="form-group">
        <label class="text-info" asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label class="text-info" asp-for="Description">Description</label>
        <input type="text" asp-for="Description" class="form-control">
        <span asp-validation-for="Description"></span>
    </div>
    <label class="text-danger">@Html.DisplayFor(Model=>Model.ErrorMessage)</label>
    <div class="form-group">
        <input type="submit" class="btn btn-info btn-md" value="Create">
    </div>

</form>
@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}