@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<KitchenApp.Models.Menu>
<form class="form">

    <div class="form-group">
        <h3 class="text-center">SelectMenuForToday </h3>

        <select class="form-control" >
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.Id)">
                    @Html.DisplayFor(modelItem => item.Name)
                </option>
            }
        </select>
    </div>
</form>
