
@{
    ViewData["Title"] = "Menus";
}


<!<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menus</title>

   
   

    <!-- Page level plugin CSS-->
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">Menus</a>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">

                    <span>Make Menu</span>
                </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="charts.html">

                    <span>Change Menu</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">

                    <span>DeleteMenu</span>
                </a>
            </li>
        </ul>
        <div class="container">
            
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
                        <div class="contact-form">
                            <form action="" method="post">
                               
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="first_name" class="form-control" placeholder="Name*" required="required" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="last_name" class="form-control" placeholder="Descreption"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    





    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>

    
    <!-- /.content-wrapper -->
    
   
    

    <!-- Bootstrap core JavaScript-->
    <script src="~/jquery/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

  


</body>

</html>
