
@{
    ViewData["Title"] = "UpdateMenu";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="login">
    <div class="container" asp-validation-summary="ModelOnly">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form method="post" id="login-form" class="form" asp-action="Login" asp-controller="Account">
                        <div class="validation" asp-validation-summary="ModelOnly" />
                        <h3 class="text-center text-info">Create New Menu</h3>
                        <div class="form-group">
                            <label class="text-info" asp-for="Name">Name</label>
                            <input type="text" name="Name" id="username" class="form-control">
                            <span asp-validation-for="Name" />
                        </div>
                        <div class="form-group">
                            <label class="text-info" asp-for="Description">Description</label>
                            <input type="text" name="Description" id="username" class="form-control">
                            <span asp-validation-for="Description" />
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md" value="Update">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


