
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<KitchenApp.Models.User>

<form method="post" class="form">
    <h3><a asp-action="CreateNewMenu" asp-controller="Admin" class="btn btn-sm btn-info">Create</a></h3>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                
                <th>FirstName</th>
                <th>LastName</th>
                <th>Login</th>
            
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model Data</td>
                </tr>
            }
            else
            {
            
                @foreach (var users in Model)
                {
                   
                <tr>
                    <td>@users.FirstName</td>

                    <td>@users.LastName</td>
                    <td>@users.Login</td>
                    
                    

                    <td><a asp-action="UpdateMenu" asp-controller="Admin" asp-route-id="@users.Id">Update</a></td>


                    <td>
                        <button class="btn-link">Delete</button>

                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</form>

