
@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <label></label>
        <form action="/" method="post">
            <table>
                <tr>
                    <td>First name</td>
                    <td><input type="text" name="FirstName" /></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td><input type="text" name="LastName" /></td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td><input type="text" name="Login" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="FirstName" /></td>
                </tr>
            </table>


        </form>
    </div>
    <div class="col-sm-3">

    </div>
</div>
